{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<h1>About</h1>
<div class ="row">
    <div class ="col-sm-12">
        <h3>Mission</h3>
        <p>The West House Songbook is an open-source songbook. Its mission is to provide simple transcriptions of lyrics and chords to pop and folk songs for group singalongs.</p>
    </div>
    <div class ="col-sm-6">
        <h3>Contributing</h3>
        <p>Corrections, suggestions, additions, and other contributions are welcome. View the source code and see more about contributing on the GitHub repository: <a href="https://github.com/jlreeder/whsongbook">jlreeder/whsongbook</a>.</p>
    </div>
    <div class ="col-sm-6">
        <h3>Follow</h3>
        <p>For updates, follow Jason on Twitter: <a href="https://twitter.com/jlreeder">@jlreeder</a>.
    </div>
    <div class ="col-sm-12">
        <h3>Acknowledgments</h3>
            <p>This songbook was born out of the West House community, and if it weren't for so many open dinners and Friday singalongs, I would have had neither the idea nor the motivation to put in so many hours to improve the book. More about West House: <a href="https://brownwesthouse.wordpress.com/">brownwesthouse.wordpress.com</a>.</p><br>

            <p>For song transcription, I'm grateful to those members of West House who first began the songbook and those who have helped me to expand it.</p><br>

            <p>For the development, I have Chris Angelico aka Rosuav to thank for many hours of mentorship and for defining, editing, and correcting much of the digital machinery. More about Rosuav: <a href="https://github.com/rosuav">github.com/rosuav</a>.</p><br>

            <p>Particulars of the song markup syntax were inspired by LilyPond and Chordii. More info about LilyPond: <a href="http://lilypond.org/">lilypond.org</a>. More info about Chordii: <a href="http://www.vromans.org/johan/projects/Chordii/chordpro/">vromans.org</a>.</p><br>

            <p>I first learned about folk fakebooks at the Lair of the Golden Bear, and I modeled my own work here on the Lair Songbook. More about the Lair: <a href="http://alumni.berkeley.edu/lair">alumni.berkeley.edu</a>.</p><br>
    </div>
</div>
{% endblock %}
