{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<h1>About</h1>
<div class ="row">
    <div class ="col-sm-4">
        <h3>Philosophy</h3>
        <p>Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs.</p>
    </div>
    <div class ="col-sm-4">
        <h3>History</h3>
        <p>Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs.</p>
    </div>
    <div class ="col-sm-4">
        <h3>West House</h3>
        <p>Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs.</p>
    </div>
    <div class ="col-sm-12">
        <h3>Follow</h3>
        <p>Climb leg rub face on everything give attitude nap all day for under the bed. Chase mice attack feet but rub face on everything hopped up on goofballs.</p>
    </div>
</div>
{% endblock %}
