{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
<h1>About</h1>
<div class ="row">
    <div class ="col-sm-4">
        <h3>Mission</h3>
        <p>The West House Songbook is an open-source songbook. Its mission is to provide lyrics and chords to traditional and popular music in a simple and accurate format.</p>
    </div>
    <div class ="col-sm-4">
        <h3>History</h3>
        <p>This songbook began as a traditional paper collection of trascriptions around 2007 at West House, a vegetarian co-operative at Brown University, thanks largely to the work of John Keller. It was then expanded by Emilie Lygren and Jason Reeder in 2010. The current digital re-imagining began in 2016 and is maintained by Jason Reeder.</p>
    </div>
    <div class ="col-sm-4">
        <h3>Follow</h3>
        <ul>
            <li>For updates, follow Jason on Twitter: <a href="https://twitter.com/jlreeder">@jlreeder</a></li>
            <li>For more about West House, check out the blog: <a href="https://brownwesthouse.wordpress.com/">West House Blog</a></li>
            <li>To suggest corrections check out the project on GitHub: <a href="https://github.com/jlreeder/whsongbook">whsongbook</a></li>
        </ul>
    </div>
</div>
{% endblock %}
