{% macro render_section(type, content) %}
<section class={{ type }}>
    {% if not(content) %}
        <p>{{ display_section_name(type) }}</p>

    {% else %}
        {% for line in content %}

            {% if check_type(line) %}
                <div class="line">
                    {%-for chord, lyric in line-%}
                        <chunk>
                        {% if lyric %}
                                <aside>{{ display_chords(chord) }}</aside>
                                <p>{{ display_lyrics(lyric)}}</p>
                        {% else %}
                                <aside>&nbsp;&nbsp;{{ display_chords(chord) }}</aside>
                                <p>&nbsp;</p>
                        {% endif %}
                        </chunk>
                    {%-endfor %}
                </div>

            {% else %}
                <p>{{ line }}</p>

            {% endif %}

        {% endfor %}

    {% endif %}
</section>
{% endmacro %}

{% macro list_song(song) %}
<a href="songs/{{song[0]}}">{{ song[1] }} ({{ song[2] }})</a>
{% endmacro %}

{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="active"><a href ="{{ url_for(endpoint) }}" class="active">{{name}}</a></li>
{% else %}
    <li><a href ="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}

{% macro nav_button(endpoint, name) %}
<a href="{{ url_for(endpoint) }}" class="btn btn-lg btn-default">{{name}}</a>
{% endmacro %}

{% macro song_table(songs) %}
<thead>
    <tr>
        <th>Title</th>
        <th>Artist</th>
    </tr>
</thead>
<tbody>
    {% for song in songs %}
    <tr>
        <td><a href="songs/{{song[0]}}">{{ song[1] }}</td>
        <td>{{ song[2] }}</td>
    </tr>
    {% endfor %}
    <tr>
    </tr>
</tbody>
{% endmacro %}
