{% macro render_section(type, content) %}
<section class={{ type }}>
    {% if not(content) %}
        <p>{{ display_section_name(type) }}</p>

    {% else %}
        {% for line in content %}

            {% if check_type(line) %}
                <div class="line">
                    {%-for chord, lyric in line-%}
                    <chunk>
                        <aside>{{ display_chords(chord) }}</aside>
                        <p>{{ display_lyrics(lyric)}}</p>
                    </chunk>
                    {%-endfor %}
                </div>

            {% else %}
                <p>{{ line }}</p>

            {% endif %}

        {% endfor %}

    {% endif %}
</section>
{% endmacro %}

{% macro list_song(song) %}
<a href="songs/{{song[0]}}">{{ song[1] }} ({{ song[2] }})</a>
{% endmacro %}
