{% macro render_line(type, line, filename, language) %}
{% if check_type(line) %}
    <div class="line">
        {%-for chord, lyric in line-%}
            <chunk>
            {% if lyric %}
                    <aside>{{ display_chord(filename, chord) }}</aside>
                    <p>{{ display_lyrics(lyric)}}</p>
            {% else %}
                    <aside>{{ display_chord(filename, chord) }}</aside>
                    <p>&nbsp;</p>
            {% endif %}
            </chunk>
        {%-endfor %}
    </div>

{% else %}
    <p>{{ line }}</p>

{% endif %}
{% endmacro %}

{% macro render_section(type, content, filename, language) %}
<section class={{ type }}>
    {% if not(content) %}
        <p>{{ display_section_name(type, language) }}</p>

    {% else %}
        {% for line in content %}
            {% if language == "ar" %}
                {{ render_line(type, connect_arabic(line), filename, language) }}
            {% else %}
                {{ render_line(type, line, filename, language) }}
            {% endif %}
        {% endfor %}

    {% endif %}
</section>
{% endmacro %}

{% macro list_song(song) %}
<a href="{{song[0]}}">{{ song[1] }} ({{ song[2] }})</a>
{% endmacro %}

{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="active"><a href ="{{ url_for(endpoint) }}" class="active">{{name}}</a></li>
{% else %}
    <li><a href ="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}

{% macro nav_button(endpoint, name) %}
<a href="{{ url_for(endpoint) }}" class="btn btn-lg btn-default">{{name}}</a>
{% endmacro %}

{% macro song_table_object(songs) %}
<table class="table table-striped">
    <thead>
        <tr>
            <th><h4>Title<h4></th>
                <th><h4>Artist</h4></th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td><a href = "{{ song.get_song_link() }}">{{ song.get_title() }}</a></td>
            <td><a href = "{{ song.get_artist_link() }}">{{ song.get_artist() }}</a></td>
        </tr>
        {% endfor %}
        <tr>
        </tr>
    </tbody>
</table>
{% endmacro %}

{% macro genre_links(genres) %}
<ul id="genre_list"">
{% for genre in genres %}
    <li><a href = "/genre/{{genre}}">{{genre.title()}}</a></li>
{% endfor %}
</ul>
{% endmacro %}

{% macro tag_links(tags) %}
<ul id="genre_list"">
{% for tag in tags %}
    <li><a href = "/tags/{{tag}}">{{tag.title()}}</a></li>
{% endfor %}
</ul>
{% endmacro %}
