{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/song.css') }}">
      {% if metadata["language"] %}
          {% if metadata["language"] == "ar" %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/song_rtl.css') }}">
          {% endif %}
      {% endif %}
	    <h1>{{ title }}</h1>
	    <h2><a href={{ artist_link }}>{{ artist }}</a></h2>
      {% if metadata["capo"] %}
      <h3>Capo: {{ metadata["capo"] }}</h3>
      {% endif %}
      {% if metadata["time"] %}
      <h3>Time: {{ metadata["time"] }}</h3>
      {% endif %}
      {% if metadata["tags"] %}
      <h3>Tags: {{ macros.tag_links(metadata["tags"]) }}</h3>
      {% endif %}
      {% for type, content in sections %}
      {{ macros.render_section(type, content, filename, metadata["language"]) }}
      {% endfor %}
{% endblock %}
