.box {
    padding-top: 10%;
}

.image-bg-fluid-height {
    padding-bottom: 5pm;
}

.img-center {
    margin: 0 auto;
    height: 250px;
}

h3 {
    font-size: 2em;
    padding-bottom: .5em;
}

.cover {
    text-align: center;
}

ul {
    display: inline;
    list-style: none;
    padding: 0;
}

li {
    display: inline;
}

.btn {
    border-color: black;
    margin: .25em .25em .25em 0;
    width: 100px;
}

.btn:hover { 
    background-color: #c1fcc1; 
    border-color: black;
}

/* for large screens */
@media only screen and (min-width: 480px) {
    .img-center {
        height: 100%;
    }

    h3 {
        font-size: 3em;
    }
}