body {
    /* margin: 2em; */
  padding-top: 50px;
  padding: 50px 15px;
}

.container-fluid {
  width: auto;
  max-width: 880px;
  padding: 0 15px;
}

chunk {
    display: inline-block;
}

p {
    padding: 0;
    margin: 0;
}

.line {
    display: block;
}

.chorus {
    font-weight: bold;
    margin-left: 2em;
    margin-top: 1em;
    display: inline-block
}

.verse {
    margin-top: 1em;
}

.bridge {
    margin-top: 1em;
    margin-left: 4em;
    font-style: italic;
}

.instruction {
    font-style: italic;
}

/*Song title*/
h1 {
    text-decoration: underline;
    margin-bottom: 0;
}

/*Artist*/
h2 {
    margin-top: 0;
    font-size: 0.8em;
    font-weight: normal;
}

/*Uncomment to hide the chords*/
/*aside {*/
/*	display: none;*/
/*}*/
