/* Song-Specific Formatting */

.chorus,
.verse,
.bridge,
.pre-chorus,
.instrumental,
.intro,
.interlude,
.outro {
    margin-top: 1em;
}

.intro,
.outro {
    font-style: italic;
}

.pre-chorus {
    margin-left: 1em;
    font-style: italic;
}

.chorus {
    font-weight: bold;
    margin-left: 2em;
}

.bridge {
    margin-left: 4em;
    font-style: italic;
}

.notes {
    font-style: italic;
    margin-top: 3em;
}

.interlude,
.instrumental {
    line-height: .7em;
}

/*Song title*/
h1 {
    text-decoration: underline;
    margin-bottom: .15em;
    font-size: 1.8em;
}

/*Other data*/
h2,
h3 {
    margin-top: 0;
    margin-bottom: .25em;
    font-weight: normal;
}

/*Artist*/
h2 {
    margin-top: 0;
    font-size: 1em;
    font-weight: normal;
}

/*Any Other Metadata*/
h3 {
    font-size: .8em;
}


/* Chord formatting */
aside {
    padding-right: .5em;
    font-size: .85em;
}

/*Uncomment to hide the chords*/
/*aside {*/
/*	display: none;*/
/*}*/